<!DOCTYPE html>
<html>
<head>
  <title>Musica</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="background">	
	<img class="show" src="http://i.imgur.com/mJNjo.jpg">	
</div>		
<%= render 'layouts/navbartop' %>
<div class="row" id="wrapper_body">
	<div class="span5" id="canciones_usuario_wrapper">
		<%= render 'layouts/lista_canciones' %>
	</div>
	<div class="span9 offset5">
		<div class="wrapper_general">
			<div class="middle_wrapper">
				<%= yield %>
			</div>			
		</div>		
	</div>
	<nav class="span3">
		<div class="wraper_derecha clearfix">
			<div class="separador">				
				<h4>Ultimas Reproducciones</h4>
			</div>
			<div class="scroll_derecha">
				<div class="clase_derecha">
					<%= render 'layouts/derecha' %>
				</div>				
			</div>			
		</div>		
	</nav>
</div>
</body>
</html>